<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Faisal | Hospital Management System</title>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;800&display=swap");
    body {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      min-height: 100vh;
    }
    .main-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1em 0;
    }
    .main-body > .intro {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 100vh;
    }
    .main-body > .intro > h1 {
      font-weight: 800;
    }
    .main-body > .intro > .welcome h4,
    a {
      font-weight: 600 !important;
    }
    .option {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    /* DoctorPage */
    .main-body h1 {
      font-weight: 600;
    }
  </style>
</head>
